# Python specific
*.py[cod]
.coverage
test_script.py

# Project specific
media/profile_images/
*.sqlite3
api_key.txt

# No need to track after:
# - including django-registration-redux
templates/rango/login.html
templates/rango/register.html
# - merging search.html with category.html
templates/rango/search.html
