{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}About{% endblock %}

{% block body_block %}
  <div class="page-header">
    <h2>Rango About page</h2>
  </div>

  <p>This website is a result of marvelous journey through
  <a href="http://www.tangowithdjango.com/book17/">How To Tango With Django 1.7</a> book.</p>

  <p>I used Python for approximately 2 years and built some tools to automate certain daily tasks. The problem was that I couldn't provide these tools to my colleagues. Every time I was asked to launch this or that script and send back generated results. I decided to learn Django because it provides powers of platfom-independent web-browser to deliver app functionality to the end users. I tried <i>How To Tango With Django</i> which sufficiently covered my needs. During approx 2 months of working through tutorial I have learned a whole lot of new concepts, ideas, technologies and approaches. I think it's a great place to start learning web development in Python.</p>

  <p>I would like to say <b>Thank You</b> to 
    <a href="https://github.com/leifos/tango_with_django_book/graphs/contributors">creators and contributors</a>
    of <i>How To Tango With Django</i> book.
  </p>
  <br />
  <br />
  <hr>

  <p>
    <a href="http://www.tangowithdjango.com/book17/chapters/overview.html#design-brief"><b>Design Brief</b></a>
  </p>

  <p>
    <a href="https://github.com/pavdmyt/django_rango"><b>Source code</b></a>
  </p>
  <br />

  <p>If you would like to contact me, please drop a mail to:
    </b> <i>squawkin@gmail.com</i>
  </p>
{% endblock %}
