{% extends 'base.html' %}


{% block title %}Add Page{% endblock %}

{% block body_block %}
<form class="form-horizontal"
      role="form" method="post"
      action="/rango/category/{{ cat_name_slug }}/add_page/">
  {% csrf_token %}

  <h2 class="form-signin-heading">Add a Page to 
    <a href="/rango/category/{{ category.slug }}/">{{ category.name }}</a>
  </h2>
  <br />

  {% if category %}

    {% for hidden in form.hidden_fields %}
      {{ hidden }}
    {% endfor %}

    {% for field in form.visible_fields %}
      <div class="form-group">
        {{ field.errors }}

        <div class="col-sm-2 control-label">
          {{ field.label_tag }}
        </div>

        <div class="col-sm-10">
          {{ field }}
        </div>

      </div>
    {% endfor %}

    <div class="form-group">
      <!-- Button -->
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-primary" name="submit">Add Page</button>
      </div>
    </div>

  {% else %}
    The specified category does not exist!
  {% endif %}
</form>
{% endblock %}
