{% extends 'base.html' %}

{% block title %}
  {% if category_name %}
    {{ category_name }}
  {% else %}
    {{ block.super }}
  {% endif %}
{% endblock %}

{% block body_block %}
  <h1 class="page-header">{{ category_name }}</h1>

  <div class="text-muted">
    {% if category %}
      {% if pages %}
      <ul>
        {% for page in pages %}
        <li><a href="{% url 'goto' %}?page_id={{ page.id }}">{{ page.title }}</a></li>
        {% endfor %}
      </ul>
      {% else %}
        <strong>No pages currently in category.</strong><br />
      {% endif %}

      {% if user.is_authenticated %}
        <a href="{% url 'add_page' category.slug %}">Add a Page</a>
      {% endif %}

    {% else %}
      The specified category {{ category_name }} does not exist!
    {% endif %}
  </div>
{% endblock %}
