{% extends 'base.html' %}

{% block title %}
	{{ block.super }}
{% endblock %}

{% block body_block %}
	{% if user.is_authenticated %}
	<h1>Rango says... hello {{ user.username }}!</h1>
	{% else %}
	<h1>Rango says.. hello world!</h1>
	{% endif %}

	<!-- Display top 5 Categories -->
	<h3>Top Five Categories</h3>
	{% if categories %}
		<ul>
			{% for category in categories %}
			<li><a href="{% url 'category' category.slug %}">{{ category.name }}</a></li>
			{% endfor %}
		</ul>
	{% else %}
		<strong>There are no categories present.</strong>
	{% endif %}

	<!-- Display top 5 Pages -->
	<h3>Top Five Pages</h3>
	{% if pages %}
		<ul>
			{% for page in pages %}
			<li><a href="{{ page.url }}">{{ page.title }}</a> - {{ page.category }}
			 ({{ page.views }} view(s))</li>
			{% endfor %}
		</ul>
	{% else %}
		<strong>There are no pages present.</strong>
	{% endif %}

{% endblock %}
